body{
    background: linear-gradient(#80B9b1, #0f4e77 ) ;
    min-height: 10%;
    margin: 0;
    padding: 0;
}
/*#94C784, #839958*/

h2{
    text-align: center;
}


.welcomeContain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
   /* background:  #80B9b1;*/
}
.ploggingPeopleImg{
    max-width: 95%;
    height: auto;
    border-radius: 14px;
}
.welcomeBox{
    flex-grow: .35;
    /*background-color: purple;*/
   
}
.welcomeBoxText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}
.welcomeBoxText h3{
    margin: 14px 0px 0px 6px;
    font-size: 1em;
    font-weight: 600;
    
}
.welcomeBoxText h1{
    display: inline-block;
    padding: 10px 20px;
    background: #fbd271;
    border-radius: 16px;
    width: fit-content;
    margin: 0;
    font-size: 5em;
}
.welcomeimg{
    flex: 1;
    /*background-color: orange;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    background: #fbd271;
    border-radius: 16px;
}


.myButton {
  background-color: #fbd271;
  /* #e7bd8b*/
  border: none;
  color: black; 
  padding: 16px 64px;
  text-align: center; 
  font-size: 16px; 
  font-weight: bold;
  display: block;
  margin: 20px auto;
  border-radius: 10px;

  cursor: pointer; 

}
/*.testCircle{
    width: 200px;
    height:200px;
    border-radius: 50%;
    background-color: (148,199,180);

}*/

.myButton:hover {
  background-color: #4D9078; /* Darker green on hover */
  color: orange;
}

.firstTextContainer{
 display: flex;
 align-items: center;
 margin: 30px 60px;
}
.secondTextContainer{
 display: flex;
 align-items: center;
 margin: 30px 60px;
}
.thirdTextContainer{
 display: flex;
 align-items: center;
 margin: 30px 60px;
}


.textDiv1-1{
    flex: 1; 
    display: flex;
    background-color: pink;
    border-radius: 60% / 45%;
    padding: 24px 30px;
    min-height: 200px;
    height:auto;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;

}
.textDiv1-2{
    flex: 1;
    margin-left: 20px;
    
}
.textDiv2-1{
    flex: 1;
    margin-left: 20px; 
}
.textDiv2-2{
    flex: 1;
    display: flex;
    background-color: pink;
    border-radius: 60% / 45%;
    padding: 24px 30px;
    min-height: 200px;
    height:auto;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}
.textDiv3-1{
    flex: 1; 
    display: flex;
    background-color: pink;
    border-radius: 60% / 45%;
    padding: 24px 30px;
    min-height: 200px;
    height:auto;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}
.textDiv3-2{
    flex:1;
    margin-left: 20px;
}

.questionBox{
    display: block;
    margin: 0px 0px 10px 0px;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
}

.answerBox{
    margin:0;
    text-align: left;
    line-height: 1.4;
    font-size: 1em;
}