@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    min-height: 100vh;
    min-width: 100vw;
}

.center {
    display: flex;
    justify-content: center;
}

.clock {
    font-family: "Kode Mono", "Roboto", sans-serif;
}

.add_button {
    position: absolute;
    right: 1em;
    bottom: 1em;
}

.view_tab {
    height: 100%;
    width: 100%;
}